<!-- /*
============================================
; Title:  index.ejs
; Author: Joshua Hughes
; Date:   22 August 2019
; Description: Advanced routing view
;===========================================
*/
 -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Advanced Routing-Hughes</title>
 
     <!-- Latest compiled and minified bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
 </head>
 <body>
    <nav class="navbar navbar-light bg-light navbar-expand-md">
        <a class="navbar-brand" href="#">Joshua Hughes</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Options</a></li>
        </ul>
    </nav>
    <div role="main" class="container">
        Product Id: <%= productId %>
    </div>  
 </body>
 </html>