//- ============================================
 ; Title:  hughes-5.3.js
 ; Author: Joshua Hughes
 ; Date:   03 September 2019
 ; Description: demonstrates Pug rendering view
 ;===========================================
 //
html
    head
        title Pug Template Example
    body
        h2= message