<!-- /*
============================================
; Title:  index.ejs
; Author: Joshua Hughes
; Date:   22 August 2019
; Description: Morgan Logging View
;===========================================
*/
 -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Morgan Logging-Hughes</title>
 
     <!-- Latest compiled and minified bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
 </head>
 <body>
     <div class="col-sm-6 offset-sm-3 text-center">
        <div role="main" class="container well">
            <h3 class="h2"><%= message %></h3>
        </div>
     </div>
 </body>
 </html>