<!-- /*
============================================
; Title:  footer.ejs
; Author: Joshua Hughes
; Date:   04 September 2019
; Description: footer view
;===========================================
*/
 -->
 <hr>
 <footer class="text-center">
     <p>&copy; Hughes Company 2019</p>
 </footer>