<!-- /*
============================================
; Title:  index.ejs
; Author: Joshua Hughes
; Date:   04 September 2019
; Description: index view
;===========================================
*/
 -->
<% include header %>
<% include navbar %>

<p><%= message %></p>


<% include footer %>
<% include scripts %>
