<!-- /*
============================================
; Title:  index.ejs
; Author: Joshua Hughes
; Date:   04 September 2019
; Description: index view
;===========================================
*/
 -->
<% include header %>
<% include navbar %>
<body> 
    <script>
        $("#imgHead").remove();
    </script>
    <br>
    <br>
    <div class="container well bg-light">
        <h2 class="alert-warning text-center m-auto">Welcome To EMS!</h2><br><br>
        <img src="/ems.png" alt="" width="380" class="rounded mx-auto d-block box-shad"  id="imgHome">
        <br><br>
        <h3 class="alert-warning text-center m-auto">Home of the greatest employees that ever lived!</h3>
    </div>
<% include footer %>
<% include scripts %>
