<!-- /*
============================================
; Title:  list.ejs
; Author: Joshua Hughes
; Date:   04 September 2019
; Description: list view
;===========================================
*/
 -->
 <table class="table table-striped">
    <thead>
        <tr>
            <th>Col 1</th>
            <th>Col 2</th>
            <th>Col 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>..</td>
            <td>..</td>
            <td>..</td>
        </tr>
    </tbody>
    </table>