<!-- /*
============================================
; Title:  navbar.ejs
; Author: Joshua Hughes
; Date:   04 September 2019
; Description: navbar view
;===========================================
*/
 -->
 
 <img src="/ems.png" alt="" width="150" class="rounded mx-auto d-block"  id="imgHead">
 <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="nav navbar-nav">
        <li class="nav-item active"></li>
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">View Employees</a></li>
        <li class="nav-item"><a class="nav-link" href="/new">New Employee</a></li>
    </ul>
 </nav>
 