<!-- /*
============================================
; Title:  view.ejs
; Author: Joshua Hughes
; Date:   04 September 2019
; Description: view view
;===========================================
*/
 -->
<% include header %>
<% include navbar %>

<div role="main" class="container" style="width: 50%;">
    <br /><br />

    <h2>Employee Details</h2>
    <br />
    <div>
      <div class="form-group">
        <label for="txtEmployeeId">Employee ID</label>
        <input
            type="text"
            class="form-control"
            id="txtEmployeeId"
            readonly
            value="<%= employee[0].employeeId %>"
            name="txtEmployeeId"
        />

        <label for="txtFirstName">First Name:</label>
        <input
          type="text"
          class="form-control"
          id="txtFirstName"
          readonly
          value="<%= employee[0].firstName %>"
          name="txtFirstName"
        />

        <label for="txtLastName">Last Name:</label>
        <input
          type="text"
          class="form-control"
          id="txtLastName"
          readonly
          value="<%= employee[0].lastName %>"
          name="txtLastName"
        />
      </div>
    </div>

    <br /><br />

    <a href="/list">&larr; OK</a>
  </div>


<% include footer %>
<% include scripts %>