<!-- /*
============================================
; Title:  bodyMain.ejs
; Author: Joshua Hughes
; Date:   22 August 2019
; Description: main body content section
;===========================================
*/
 -->

<div role="main" class="container">
    <h2>Welcome to the <%= message %>!</h2>
</div>