<!-- /*
============================================
; Title:  footer.ejs
; Author: Joshua Hughes
; Date:   22 August 2019
; Description: footer view
;===========================================
*/
 -->

</body>
</html>